html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font: 14px/21px Helvetica, Arial, sans-serif;
	background: url(../img/bg.png) 0 0 repeat;
}
p, ul, ol {
	margin-bottom: 15px;
}
p a {
	color: #046380;
	font-weight: bold;
	text-decoration: none;
}
hr{
	border: none;
	height: 1 px;
	border-top: 1 solid #ddd;
}

#container{
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}
#header{
	background: #000000;
	padding: 20px;
	display: block;
	height: 80px;
	color: #fff;
}

/*nav bar style*/
#nav{
	width: 100%;
	/*background: #263248;*/
	background-image: url(../img/nav-bg.png);
	background-repeat: repeat;
	float: left;
	display: block;
}
#nav ul {
  font-family: Arial, Verdana;
  list-style: none;
}
#nav ul li {
  display: block;
  position: relative;
  float: left;
  text-align: center;
  border-right: 1px solid #fff;
}
#nav ul li a {
  display: block;
  width: 100px;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}
#nav ul li a:hover { background: #046380; }
#nav li ul { display: none; }
#nav li:hover ul {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
}
#nav li:hover li {
  float: none;
  font-size: 11px;
  font-size: 15px;
  height: 30px;
  background: #263248;
}
#nav li:hover li a:hover { background: #046380;  }

/*content wrap style*/
#content_wrap{
	background: #f2f2f2;
	padding: 20px 10px;
	width: 980px;
	display: block;
	float: left;
}
#content{
	margin: 0 auto;
	width: 980px;
	display: block;
}
#main_wrap{
	width: 650px;
	float: left;
}

#main{
	background: #fff;
	width: 648px;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
	box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
}
#main #posts{
	float: left;
	width: 648px;
}
#main .post{
	width: 608px;
	float: left;
	padding: 20px 20px;
	border-bottom: 1px solid #ddd;
	border-top: 5px solid #263248;
}
#main .post .post_img{
	float: left;
	margin-right: 20px;
}
#main .post .post_img img{
	width: 200px;
	height: 200px;
	overflow: hidden;
}
#main .post .post_preview{
	float: right;
	width: 388px;
}
#main .post .prebar{
	padding-bottom: 6px;
	font-size: 14px;
	font-style: italic;
	color: #046380;
	overflow: hidden;
}
#main .post .post_title{
	font-size: 30px;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
	padding-bottom: 10px;

}
#main .post .post_meta{
	background: #EFECCA;
	font-size: 14px;
	color: #046380;
	float: left;
	font-style: italic;
}
#main .post .preview_text{
	float: left;
	width: 100%;
	margin-top: 10px;
}

/*single page style*/
#main .singlepost{
	padding: 30px 20px;
}

/*side bar*/
#side{
	float: right;
	width: 310px;
	background: white;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
	box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
}
#search_form{
	margin: 15px 10px;
	position: relative;
	height: 30px;
	width: 260px;
}
#search_form input{
	display: inline-block;
	border: 1px solid #d7d7d7;
	padding: 0;
	margin: 0;
}
.search_input{
	float: left;
	height: 30px;
	width: 200px;
}
.search_submit{
	float: left;
	background-color: #263248;
	width: 58px;
	height: 32px;
	color: #fff;
	border: none;
	cursor: pointer;
}

.sidewidget{
	width: 288px;
	/*border: 1px solid #ddd;*/
	border-top: 2px solid #263248;
	padding: 10px;
	margin-top: 20px;
	background: #fff;
}
.sidewidget a{
	text-decoration: none;
}
.sidewidget img{
	width: 135px;
	height: 135px;
	margin: 4.5px;
	float: left;
	border: none;
}
.sidewidget ul{
	list-style: none;
}
.sidewidget .tagtitle{
	margin: 0 0 10px 0;
	padding: 0;
	color: #333;
	border-bottom: 1px solid #ddd;
}
.tags{

}
.tags a{
	font-size: 11px;
	line-height: 13px;
	background-color: #eee;
	color: #999;
	display: inline-block;
	margin: 0 0 4px 0;
	padding: 5px 10px 5px 7px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.tags a:hover{
	background-color: #263248;
}

/*Tab style*/
.tabwidget ul{
	margin: 0;
	padding: 0;
}
.tabwidget li { list-style:none; float:left; }
.tabwidget ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:10px Verdana;
  color:#FFF;
  background:#263248;
}
.tabwidget ul a:hover {
  color:#000;
  background:#F3FFE2;
  }
.tabwidget ul a.selected {
  margin-bottom:0;
  color:#000;
  background:#F3FFE2;
  border-bottom:1px solid #F3FFE2;
  cursor:default;
  }
.tabwidget div {
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  background:#F3FFE2;
  font:10pt Georgia;
}
.tabwidget div a { color:#000; font-weight:bold; }


/*article style*/
.singlepost p{
	display: block;
	margin-top: 10px;
}
.aligncenter{
	display: block;
	margin: 10px auto;
}
.alignleft{
	float: left;
	margin: 10px 10px 20px 0;
}
.alignright{
	float: right;
	margin: 10px 0 10px 20px;

}
.clearboth{
	clear: both;
}

/*comments */
.comments-area{
	margin-top: 30px;
}
.comments-list{
	margin-top: 30px;
}
.comments-list li{
	list-style-type: none;
}
.comments-list li div{
	background: white;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 0px 5px #d7d7d7;
	box-shadow: 0px 0px 5px #d7d7d7;
	/*padding: 1.5em 2em;*/
	padding: 15px 20px 0 20px;
	margin-bottom: 15px;
}

#commentform input{
	width: 40%;
	border: 1px solid #d7d7d7;
	height: 30px;
	-webkit-box-shadow: 0px 0px 5px #d7d7d7;
	box-shadow: 0px 0px 5px #d7d7d7;
	padding: 5px;
}
#commentform textarea{
	width: 98%;
	display: block;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 0px 5px #d7d7d7;
	box-shadow: 0px 0px 5px #d7d7d7;
	padding: 5px;
}
#commentform input.btn{
	width: 80px;
}


#footer{
	background: #ccc;
	clear: both;
	text-align: center;
	padding: 20px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

